@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @font-face {
    font-family: googleFont;
    src: url(./fonts/Product-Sans-Regular.ttf);
} */

@font-face {
    font-family: googleFont;
    src: url('chrome-extension://ebhnpaiclmjobjpcacgmcdifadibdlmn/styles/Product-Sans-Regular.ttf');
}

.overlay {
    font-family: 'googleFont';
    display: flex;
    flex-direction: row;
    border: 1px black solid;
}
