@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @font-face {
    font-family: googleFont;
    src: url(./fonts/Product-Sans-Regular.ttf);
} */

@font-face {
    font-family: googleFont;
    src: url('chrome-extension://__MSG_@@extension_id__/Product-Sans-Regular.ttf');
}

overlay {
    font-family: 'googleFont';
    border: 1px black solid;
}
